.intro {
    position: relative;
    text-align: center;
}
 
#banner {
    position: relative;
    width: 101%;
    height: 60%;
    margin: -10 -10;
}

h1 {
    position: absolute;
    font-size: 5em;
    color: white;
    font-family: 'Optima';
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h2 {
    position: relative;
    color: white;
    font-size: 3em;
    font-family: 'Times New Roman', Times, serif;
    top: 15%;
    left: 20%;

}
#pfp {
    position: relative;
    height: 25em;
    top: 0%;
    left: 65%
}

.list {
    position: relative;
    top: -45%;
    left: 19%;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

#github {
    position: relative;
    bottom: 5em;
    left: 41em;
    height: 45px;
}

#linkedin {
    position: relative;
    bottom: 5em;
    left: 42em;
    height: 44px;
}

#resume {
    position: relative;
    bottom: 4.5em;
    left: 42.5em;
    height: 60px;
}

body {
    background-color: #faceca;
}